body {
	background-color: white;
	width: 100%;
	position: absolute;	
}
h1 {
	font: helvetica;
	text-align: center;
	font-size: 28px;
}
p {
	text-align: justify;
	font-size: helvetica
	font-size: 16px;
	padding: 20px;	
}
div .container {
	height: 498px;
}
#box1 {	
	background-color: gray;
	border: 1px solid black;
	box-sizing: border-box;
	margin: 15px;
	margin-left: 18px;
	margin-right: 18px;
	padding: 1px;
	float: left;
}
#box2 {
	background-color: gray;
	border: 1px solid black;
	box-sizing: border-box;
	margin: 15px;
	margin-left: 18px;
	margin-right: 18px;
	padding: 1px;
	float: left;
}
#box3 {
	background-color: gray;
	border: 1px solid black;
	box-sizing: border-box;
	margin: 15px;
	margin-left: 18px;
	margin-right: 18px;
	padding: 1px;
	float: left;
}
#chicken {
	background-color: #F08080;
	width: 100px;
	height: 25px;
	border: 1px solid black;
	font-size: 20px;
	text-align: center;
	float: right;
}
#beef {
	background-color: maroon;
	width: 100px;
	height: 25px;
	border: 1px solid black;
	font-size: 20px;
	text-align: center;
	color: white;
	float: right;
}
#sushi {
	background-color: #F0E68C;
	width: 100px;
	height: 25px;
	border: 1px solid black;
	font-size: 20px;
	text-align: center;
	float: right;
}
@media (min-width: 1200px) {
	#box1 {
		width: 30%;
	}
	#box2 {
		width: 30%;
	}
	#box3 {
		width: 30%;
	}	
}
@media (min-width: 992px) and (max-width: 1199px) {
	#box1 {
		width: 45%;
		height: 30%
	}
	#box2 {
		width: 45%;
		height: 30%
	}
	#box3 {
		width: 93.5%;
		height: 30%
		
			
	}
@media (min-width: 768px) and (max-width: 991px) {
	#box1 {
		width: 30%;
	}
	#box2 {
		width: 30%;
	}
	#box3 {
		width: 30%;

}
@media (min-width: 767px) {
	#box1 {
		width: 30%;
	}
	#box2 {
		width: 30%;
	}
	#box3 {
		width: 30%;

}
